<?xml version="1.0" encoding="UTF-8"?>
<!-- Time format for logging. Adjusting the format and timezone (New York) -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"MMMM d h:mma", America/New_York} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>